---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue';
import Hero from '../components/Hero.vue';
import DailyPsalm from '../components/DailyPsalm.vue';
import Ministries from '../components/Ministries.vue';
import Footer from '../components/Footer.vue';
---

<Layout>
	<Header client:load />
	<main>
		<Hero client:load />
		<DailyPsalm client:visible />
		<Ministries client:visible />
	</main>
	<Footer />
</Layout>
